/* General Background Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #1a1a1a;
  background-image: url("../Assets/cine1.jpeg");
  background-size: cover;
  background-attachment: fixed;
  margin-top: 15vh;
}

/* Banner Section */
.relative {
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.banner-container {
  height: 96px;
}

.banner-container div {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner-container h2 {
  font-size: 24px;
  font-weight: bold;
}

.banner-container p {
  font-size: 14px;
  color: #bbb;
}

/* Hover Effects for Movie Cards */
.movie-card {
  position: relative;
  background-color: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.movie-card:hover {
  transform: scale(1.02);
}

.poster-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.movie-card:hover img {
  transform: scale(1.1);
}

.movie-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(94, 94, 94, 0.683);
  color: #00ffff;
  text-align: left;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.movie-card:hover .movie-details {
  transform: translateY(0);
  opacity: 1;
}

/* Search Bar */
.search-bar-container {
  margin: 20px 0;
  margin-top: 120px;
  z-index: 1;
  position: relative;
}

.search-bar form {
  display: flex;
  justify-content: center;
}

.search-bar-input {
  padding: 10px;
  width: 60%;
  border: 1px solid #333;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  color: #333;
}

.search-bar-btn {
  padding: 10px 20px;
  background-color: #4169e1;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar-btn:hover {
  background-color: #9966cc;
  color: #00ffff;
}
