@tailwind base;
@tailwind components;
@tailwind utilities;
/* body{
    background-color: #dcdcdc;
    
} */

body {
  background-color: #7B2C29; 
  background-image: url(../public/cine1.jpeg);
  background-size: cover;
  color: #FFFFFF;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
} */


.movie-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px; 
  overflow: hidden;
  
  }
  
  .movie-item {
    width: calc(20% - 20px);
    max-width: 200px;
    min-width: 150px;
    text-align: center;
    /* height: 300px; */
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
    cursor: pointer;
    margin: 0;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        
  }

  @media (max-width: 768) {
    .movie-item{
      width: calc(40% - 20px);
    }
  }
  @media (max-width: 480px) {
    .movie-item{
      width: calc(80% - 20px);
    }
  }

  .movie-item:hover {
    transform: scale(1.11); /* Enlarge the card */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); /* Make the shadow more prominent */
  }
  
  .movie-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .movie-item:hover img {
    transform: scale(1.1); /* Optionally, zoom the image */
    opacity: 0.9;
  }
  
  .movie-poster img {
    width: 110%;
    border-radius: 10px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }

  
  .movie-details {
    text-align: center;
    max-width: 100%;
    margin: 0 auto; 
    justify-content: center;
    align-items: center;
    /* background-image: url(../public/cine2.jpg); */
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
  }
  
  .search-bar form {
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    max-width: 500px;
  }
  
  .search-bar input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    flex: 1;
    border: 1px solid #333;
    border-radius: 3px;
  }
  
  .search-bar button {
    padding: 10px;
    font-size: 16px;
    background-color: #4169E1;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .search-bar button:hover{
    background-color: #3152b3;
  }
  

  .thank-you-container {
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    color: #4CAF50;
  }
  
  a {
    color: #2196F3;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
